
            body {
                font-family: 'Nunito';
            }
.mymodal{
    width: 50rem;
    height: 30rem;
    background-color: white;
    margin: 10rem 20rem;
    border: solid black 1px;
}

#liste{
    width: 30rem;
}

.select{
    width:10rem;
}